@use "../core/mixins";

.hero-container {
    height: 70vh;
    width: 100%;
    @include mixins.flex(column, flex-start, center, 20px);

    @include mixins.tablet-and-up {
        height: 55vh;
    }

    @include mixins.desktop-and-up {
        @include mixins.flex(column, flex-start, center, 20px);
        height: 100vh;
    }

    h2 {
        padding: 70px 0px 0px;
        text-align: center;
        font-size: 2.3rem;
        font-weight: 700;
        color: #000;
        font-family: 'DM Serif Display', serif;

        @include mixins.tablet-and-up {
            font-size: 2.9rem;
        }

        @include mixins.desktop-and-up {
            font-size: 3.5rem;
            text-transform: uppercase;
        }
    }

    .video-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include mixins.tablet-and-up {
            height: 70vh;
            object-position: top center;
        }

        @include mixins.desktop-and-up {
            height: 100vh;
            object-position: top center;
        }
    }

    .hero-text {
        @include mixins.flex(column, center, center, 20px);
        z-index: 2;
        position: absolute;
        width: 100%;
        margin: 0 auto;

        @include mixins.desktop-and-up {
            @include mixins.flex(column, center, center, 15px);
            padding: 100px 0px 0px;
        }
    }

    .hero-btns {
        @include mixins.flex(column, center, center, 15px);

        @include mixins.desktop-and-up {
            @include mixins.flex(row, flex-start, center, 23px);
        }

        .hero-btn {
            button {
                @include mixins.btn();
                @include mixins.flex(row, center, center, 0px);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            }


            svg {
                margin-left: 10px;
                display: flex;
            }
        }

        .hero-btn .solid {
            background-color: #406054;
            color: #fff;
            border: none;
        }
    }
}