@use "../core/mixins";

.intro-container {
    @include mixins.flex(column, center, flex-start, 70px);
    padding: 20px 0px;
    width: 95%;
    margin: 0 auto;

    @include mixins.desktop-and-up {
        @include mixins.flex(row, center, flex-start, 70px);
        padding: 80px 0px;
        width: 80%;
    }


    .intro-text {
        @include mixins.flex(column, flex-start, flex-start, 0px);
        width: 90%;
        margin: 0 auto;
        line-height: 3.4rem;
        padding: 70px 0px 0px;

        @include mixins.desktop-and-up {
            width: 45%;
            padding: 0px;
        }

        .preamble {
            color: #406054;
            margin: 0px;
            padding: 0px;
            font-size: 3rem;
            font-family: 'DM Serif Display', serif;
        }

        .body-text-container {
            padding: 30px 0px;

            button {
                @include mixins.btn();
                margin: 30px 0px;
            }

            .body-text {
                font-size: 1.1rem;
                line-height: 1.5rem;
                padding: 8px 0px;
            }
        }

        .hover-effect {
            @include mixins.underline-animation;
        }
    }

    .collage {
        width: 100%;
        position: relative;

        @include mixins.desktop-and-up {
            width: 50%;
        }

        .top-image {
            background-image: url("../../../public/images/mountains.jpg");
            background-position: center;
            background-size: cover;
            height: 600px;
            width: auto;
            z-index: 2;

            .bottom-image {
                position: relative;
                bottom: -490px;
                left: 90px;
                z-index: 10;
                width: 70%;
                height: auto;

                @include mixins.desktop-and-up {
                    position: absolute;
                    bottom: -260px;
                    left: 400px;
                    z-index: -2;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}