@use "../core/mixins";

nav {
    width: 100%;
    background-color: #202020;
    color: #fff;
    position: relative;
    z-index: 3;

    @include mixins.desktop-and-up {
        background-color: transparent;
        color: #000;
        position: fixed;
    }

    .nav-container {
        @include mixins.flex(column, flex-start, flex-start, 25px);
        padding: 15px 20px 35px;

        @include mixins.desktop-and-up {
            @include mixins.flex(row, space-between, center, 0px);
            padding: 10px 20px;
        }

        header {
            @include mixins.flex(row, space-between, center, 5px);

            a {
                text-decoration: none;
                color: #fff;

                @include mixins.desktop-and-up {
                    color: #000;
                }
            }

            h1 {
                font-size: 1.9rem;
                font-family: 'DM Serif Display', serif;
            }

            .fa-typo3 {
                font-size: 1.3rem;
                color: #fff;

                @include mixins.desktop-and-up {
                    color: #000;
                }
            }
        }
    }

    ul {
        @include mixins.flex(column, flex-start, flex-start, 20px);

        @include mixins.desktop-and-up {
            @include mixins.flex(row, space-between, center, 35px);
        }

        li {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 500;

            @include mixins.desktop-and-up {
                font-size: 0.8rem;
            }
        }

        a {
            color: #fff;
            padding: 3px 0px;

            &:hover {
                color: #000;
                transition: all 0.05s ease-in-out;
                border-bottom: 1px solid #000;
            }

            @include mixins.desktop-and-up {
                color: #000;
            }
        }

        .nav-item a:hover {
            color: #fff;

            @include mixins.desktop-and-up {
                color: #000;
            }
        }

        .btn-outline {
            cursor: pointer;
            border: 2px solid #000;
            padding: 8px 10px;
            text-transform: uppercase;
            transition: all 0.25s ease-in-out;

            &:hover {
                background-color: #fff;

            }
        }
    }

    .underline {
        border-bottom: 1px solid #fff;

        @include mixins.desktop-and-up {
            border-bottom: 1px solid #000;
        }
    }

    .navbar-icons {
        @include mixins.flex(row, center, center, 10px);

        .navbar-icon {
            background-color: #406054;
            border-radius: 50%;
            display: inline-block;
            height: 24px;
            width: 24px;
            padding: 10px;

            img {
                height: 24px;
                width: 24px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}